.news-letter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background:linear-gradient(180deg, rgb(239, 210, 210) 0%, rgb(255, 255, 255) 60% );
    gap: 30px;

}
.news-letter h1{
    color: gray;
    font-size: 50px;
    font-weight: 600;

}
.news-letter h2{
    color: rgb(207, 129, 129);
    font-size: 55px;
    font-weight: 600;

}
.news-letter p{
    color: rgb(110, 108, 112);
    font-size: 20px;
    font-size: 30px;

}
.news-letter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid white;
}
.news-letter input{
    width: 500px;
    height: 70px;
    margin-left: 30px;
    border: none;
    outline:auto;
    border-radius: 50px;
    color: rgb(123, 105, 105);
    font-family: Poppins ;
    font-size: 16px;
}
.news-letter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}